*{
   width: 100%; 
   height: 100%;
   margin: 0;
   padding: 0;
}
body{
    background-color: aqua;

.cont{
    height: 20vmax;
    width: 20vmin;
    background-color: yellow;
}
div{
    height: 1em;
    width:5em;
    background-color: white;
}