*{
   width: 100%; 
   height: 100%;
   margin: 0;
   padding: 0;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

div{
    height: 100px;
    width:100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}