.container{
    width: 700px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    
}

h2{
    text-align: center;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    margin: 2px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(94, 255, 0);
    border: 2px solid black;
    margin: 2px;
    
}

.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 85);
    border: 2px solid black;
    margin: 2px;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    margin: 2px;
}
.box5{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 208, 0);
    border: 2px solid black;
    margin: 2px;
}

/*Container2*/

.container2{
     width: 600px;
    height: 400px;
     border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
   
   
}

h2{
    text-align: center;
}



/*Column*/

.container3{
     width: 400px;
    height: 400px;
     border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container4{
     width: 400px;
    height: 400px;
     border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
   
}
