*{
    
   width: 100%; 
   height: 100%;
   margin: 0;
   padding: 0;
}
 
body{
   
    display: flex;
    justify-content: center;
    align-items: center;


}

.cob{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content:center;
    align-items: center;
}

h1{
   display: flex;
    justify-content:center;
    align-items: center;  
}