.divofnav{
height: 40px;
width: 100%;
background-color: black;
color: aliceblue;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 100%;
}

#Amazon{
    
    color: yellow;
    font-size:30px;
    
}

a{
    text-decoration: none;
    color: yellow;
}

#Button{
margin-right:90px ;
background-color: yellow;
}

#SearchBox{
display: flex;
gap: 10px;
}