*{
    padding: 0;
    margin: 0;
}


header{
    height: 30px;
    width: 100%;
    background-color: rgb(19, 18, 18);
}
.divofnav{
height: 40px;
width: 100%;
background-color: black;
color: aliceblue;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 100%;
}

#Amazon{
    margin-left: 70px;
    color: yellow;
    font-size:30px;
    
}

a{
    text-decoration: none;
    color: yellow;
}

#Button{
margin-right:90px ;
background-color: yellow;
border-radius: 5px;
font-size: 20px;
}

#SearchBox{
display: flex;
gap: 10px;


}

input{
    border-radius: 20px;
    text-align: center;
}

.divspace{
    background-color: rgb(240, 232, 232);
   margin-top: 20px;
   margin: 4px 4px 4px 4px;
   
}

.div1{
    width: 50%;
    height: 200px;
    background-color:rgba(0,0,255,0.5);
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;

}

.div2{
    width: 50%;
    height: 200px;
    background-color:rgba(255,0,0,0.5);
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 10px;
    
    
}

.div3{
    width: 50%;
    height: 200px;
    background-color:rgba(0,255,0,0.5);
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 10px;
    
}

footer p{
background-color: rgb(21, 22, 22);
height: 30px;
width: 100%;
color: antiquewhite;
}

