.image{
width: 400px;
height: 400px;
border: 2px solid black;
border-radius: 10px;
background-image: url("./pexels-merna-rakha-589037225-17165342.jpg");
background-size: cover;
position:fixed;
right:0px ;
top: 50px;
}