*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    text-align: center;
}

.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
}

a{
    color: white;
    padding-left: 10px;
    text-decoration: none;
}

h1{
    text-align: center;
    padding: 10px;
}

.hero{
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
}

.heroText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroTextButton{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.heroBtn{
    padding: 10px 20px;
}

.job{
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 20px;
}

.job1{
    background-color: black;
    color: rgb(48, 47, 47);
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

h2{
    margin-top: 10px;
}

.jobRole{
    background-color: white;
    width: 200px;
    border-radius: 20px;
    color: rgb(53, 51, 51);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}



img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    
}

.jobRole h2 {
    font-size: 0.9rem;
    padding: 5px 0px;
    text-align: left;
}
.jobRole p{
    font-size: 0.6rem;
    text-align: left;
    font-weight: 600;
}

.remote{
    padding-top: 4px;
    font-weight: 700;
}

h6{
    text-align: left;
    padding-top: 6px;
    font-size: 0.5rem;
}

/* content */

.content{
    margin-top: 10px;
    padding: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.contentsec{
    width: 600px;
}

section h1{
    color: white;
}

section .secp{

    padding: 20px;
}

section .secimg{
    width: 400px;
    height: 400px;
}

/* Types of Civilization */

.typeof{
    background-color: black;
    margin-top: 10px;
    padding: 20px;
}

.civilization{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5px;
    padding: 30px 0px;
}

.civil1{
    width:200px;
    margin-top: 10px;
}

.civilimg{
    width: 100px;
    height: 100px;
}

.civilp{
    color: white;
}

/* proof */

.proof{
    background-color: black;
    padding: 40px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.civil{
    background-color: white;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    margin: 5px 0px;
}

.proof2{
    color: white;
    padding: 20px 0px;
}

/* Story */

.story{
    background-color: black;
    color: white;
    padding: 20px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.images img{
    width: 300px;
    height: 300px;
}

.storyscript{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}



/* form */

.Form{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    color: white;
    flex-direction: column;
}

.Form h2{
    padding: 10px;
}

.formContainer{
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px;
    border-radius: 20px;
}

input{
    padding: 10px;
}

button{
    padding: 10px 20px;
    background-color: green;
}