*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --Header-color:white;
    --background-color:rgb(96, 112, 89);
    --Section-background-color:rgb(179, 223, 139);
    --font-color:rgba(2, 36, 5, 0.808);
    --div-color:rgb(83, 228, 64);
    
}

body{
    height: 100vh;
    text-align: center;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color:var(--Header-color);
    position:fixed;
    top: 0px;
    border-bottom: 1px solid white;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
}

a{
    color: white;
    padding-left: 10px;
    text-decoration: none;
}

h1{
    text-align: center;
    padding: 10px;
}

.hero{
    height: 50vh;
    background-color:var(--Section-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--font-color);
    padding: 20px;
    margin-top: 50px;
}

.heroText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroTextButton{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.heroBtn{
    margin-top: 10px;
    padding: 10px 20px;
}

.job{
    margin-top: 10px;
    background-color: var(--Section-background-color);
    color: var(--font-color);
    padding: 20px;
}

.job1{
    background-color: var(--Section-background-color);
    color: var(--font-color);
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

h2{
    margin-top: 10px;
}

.jobRole{
    background-color:var(--background-color);
    width: 200px;
    border-radius: 20px;
    color: var(--font-color);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}



img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    
}

.jobRole h2 {
    font-size: 0.9rem;
    padding: 5px 0px;
    text-align: left;
}
.jobRole p{
    font-size: 0.6rem;
    text-align: left;
    font-weight: 600;
}

.remote{
    padding-top: 4px;
    font-weight: 700;
}

h6{
    text-align: left;
    padding-top: 6px;
    font-size: 0.5rem;
}

/* content */

.content{
    margin-top: 10px;
    padding: 30px;
    background-color:var(--Section-background-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
}

.contentsec{
    width: 600px;
}

section h1{
    color:var(--font-color);
}

section .secp{

    padding: 20px;
}

section .secimg{
    width: 80%;
    height: 50%;
}

/* Types of Civilization */

.typeof{
    background-color: var(--Section-background-color);
    margin-top: 10px;
    padding: 20px;
}

.civilization{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5px;
    padding: 30px 0px;
}

.civil1{
    width:200px;
    margin-top: 10px;
}

.civilimg{
    width: 100px;
    height: 100px;
}

.civilp{
    color:var(--font-color);
}

/* proof */

.proof{
    background-color: var(--Section-background-color);
    padding: 40px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color);
}

.civil{
    background-color:var(--div-color);
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    margin: 5px 0px;
}

.proof2{
    color: var(--font-color);
    padding: 20px 0px;
}

/* Story */

.story{
    background-color: var(--Section-background-color);
    color: var(--font-color);
    padding: 20px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.images img{
    width: 300px;
    height: 300px;
}

.storyscript{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--font-color);
}



/* form */

.Form{
    background-color: var(--Section-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    color: var(--font-color);
    flex-direction: column;
}

.Form h2{
    padding: 10px;
}

.formContainer{
    background-color: var(--div-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px;
    border-radius: 20px;
}

input{
    padding: 10px;
}

button{
    padding: 10px 20px;
    background-color: green;
}

@media(max-width:768px){

    .navbar{

    }

    .logo{
    font-size: 1.3rem;
    font-weight: 600;


}
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
       gap: 20px;
    }

    .content h1{
        font-size: 1.5rem;
}

.proof{
   font-size: 0.6rem;
}

a{
    
    font-size: 0.8rem;
}

    .job1{
        flex-direction: column;
        align-items: center;
    }

    .civilization{
        flex-direction: column;
    }

    .story{
        flex-direction: column;
    }
}