div{
width: 100px;
height: 100px;
border: 2px solid black;
border-radius: 20px;
background-color: aqua;
display: inline-block;

}

.box1{
    position: relative;   /* iske use se hm apne object ya element ko screen par khi bhee move kr skte hai */
    top: 40px;
    
}

.box2{
    position: static;   /*ye defailt position hoti hai */
    top: 50px;
}

.box3{
    position: absolute;  /*parent = ancestor  absulute ye parent ke ke relative khud ko shift krta hai */
    top: 40px;
    left: 90px;
}

.box4{
    position:fixed;  /*mtlb isse ak bar jha fix kr diya vhi ahega iska mostly us header anf footer ke liye hota hai*/
    top: 40px;
    left: 200px;
}