body{
width: 100vw;
height: 100vh;
background-color: black;
border: 2px solid rgb(214, 196, 196);
display: flex;
justify-content: center;
align-items: center;
}

div{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(61, 54, 54);
    border: 2px solid wheat;
    border-radius: 10px;
}

@media screen and (max-width:600px)
{
   h1{
    font-size: 20px;
    background-color: red;
    border: 2px solid black;
    border-radius: 20px;
   }

   div{

     width: 100px;
    height: 100px;
    background-color: rgb(199, 101, 21);
    border: 2px solid white;
    border-radius: 20px;
   }
}

@media screen and (max-height:300px)
{
   h1{
    font-size: 20px;
    background-color: red;
    border: 2px solid black;
    border-radius: 20px;
   }

   div{

     width: 100px;
    height: 100px;
    background-color: rgb(199, 101, 21);
    border: 2px solid white;
    border-radius: 20px;
   }
}