

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ch{
    width: 50px;
    height: 50px;
    background-color: rgb(32, 32, 22);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.ch div{
    width: 50%;
    height: 50%;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
}

@media screen and (max-width:900px)
{

    .p{
        width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(58, 44, 44);
    border-radius: 50px; 
    }
    .ch{
     width: 50px;
    height: 50px;
    background-color: rgb(20, 161, 143);
    border: 2px solid rgb(168, 35, 35);
    border-radius: 30px;
    }

    .ch div{
    width: 50%;
    height: 50%;
    background-color: rgb(219, 30, 30);
    border: 2px solid rgb(51, 34, 34);
    border-radius: 50px;
    }


}

@media screen and (max-width:600px)
{

    .p{
        width: 100px;
    height: 100px;
    background-color: rgb(255, 123, 0);
    border: 2px solid black;
    border-radius: 50px; 
    }
    .ch{
     width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 0);
    border: 2px solid black;
    border-radius: 20px;
    }

    .ch div{
    width: 20%;
    height: 20%;
    background-color: rgb(65, 209, 8);
    border: 2px solid rgb(51, 34, 34);
    border-radius: 10px;
    }

}

