.divp{
    height: 100vh;
    width: 100vw;
    background-color: rgb(32, 31, 31);
}

.ankit{
   height: 30%;
   width: 33%;
   background-color: red;
   border: 2px solid black;
   border-radius: 20px;
}

.vishal{
   height: 90%;
   width:90%;
   background-color: rgb(29, 152, 201);
   border: 2px solid black;
   border-radius: 20px;
}

.badal{
   height: 9rem;
   width:17rem;
   background-color: rgb(29, 152, 201);
   border: 2px solid black;
   border-radius: 20px;
}

.raju{
   height: 5em;
   width:60em;
   background-color: rgb(29, 152, 201);
   border: 2px solid black;
   border-radius: 20px;
}