.div1{
width: 100px;
height: 100px;
border-radius: 20px;
border: 2px solid black;
background-color: red;
margin: 20px 20px 20px 400px;  /* TRBL*/
}

.div2{
width: 100px;
height: 100px;
border-radius: 20px;
border: 2px solid black;
background-color: rgb(5, 117, 221);
margin-top: 20px;
margin-left: 20px;
margin-right: 0px;
margin-bottom: 0px;
}