#div1{
    text-align: center;
width: 100px;
height: 100px;
background-color: yellow;
columns: black;
margin-bottom: 20px;
border: 2px;
border-style: solid;  
border-radius: 50px;  /* ye teen use krne ki jgh bass hm, 1 use krenge lol 😨*/
border-color: red;
}

#div2{
    text-align: center;
width: 100px;
height: 100px;
background-color: rgb(0, 255, 98);
columns: black;
margin-bottom: 20px;
border: 2px dotted blue;
border-radius: 40px;
}

#div3{
text-align: center;
width: 100px;
height: 100px;
background-color: rgb(0, 204, 255);
columns: black;
margin-bottom: 20px;
border: 2px dashed rgb(0, 0, 0); 
border-radius: 20px;  /*border */
}