div{
height: 100px;
background-color: aqua;
width: 100px;
}

button{
    height: 100px;
    width: 100px;
    background-color: black;
    color:white;
    margin-bottom: 20px;
}

h1{
    height: 100px;
    width: 100px;
    background-color: yellow;
    color: rgb(0, 0, 0);
}

p{
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
}