.div1{
width: 100px;
height: 100px;
background-color: yellow;
border-radius: 20px;
border: 2px solid black;
}



@media(max-width:300px){
.div1{
    background-color: red;
}
}

@media(min-width:300px) and (max-width:400px){
.div1{
    background-color: yellow;
}
}

@media(min-width:400px) and (max-width:600px){
.div1{
    background-color: rgb(255, 0, 255);
}
}

@media(min-width:600px){
.div1{
    background-color: rgb(51, 255, 0);
}
}