*{
    padding: 0;
    margin: 0;
}

.container{
   
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    color: rgb(14, 13, 13);
    gap: 5px;
    height: 380px;
    width: 380px;
    background-color: aqua;
    border: 1px solid black;
   
}

.first{
background-color: red;
}

.second{
background-color: yellow;
}

.third{
background-color: rgb(37, 92, 141);
}

.fourth{
background-color: purple;
}