h1{
    height: 100px;
    width: 100px;
    background-color: yellow;
    color: rgba(255,0,0,0.2);
}

h2{
    height: 100px;
    width: 300px;
    background-color: rgb(53, 53, 38);
    color: rgba(255,0,0,0.5);
}

p{
    height: 100px;
    width: 100px;
    background-color: rgb(7, 20, 19);
    color: rgba(0,255,0,1.4);
}