

.div1{
    width:100px;
    height: 100px;
    background: rgb(17, 0, 255);
    
    position: absolute;
    z-index: -1;
    border: 2px solid black;
}

.div2{
    width:100px;
    height: 100px;
    background: red;
    position: absolute;
    z-index: 1;
    border: 2px solid black;
    top: 90px;
}

.div3{
    width:100px;
    height: 100px;
    background: rgb(0, 255, 64);
    position: absolute;
    z-index: 2;
    left: 80px;
    border: 2px solid black;
}