h1{
    color:rgb(0, 255,0); /*color  0 -255  Range hota hai */
    background-color: rgb(2, 4, 8);
}

body{
    background-color: rgb(99, 27, 67);
}

p{
    color: rgb(90,26,66);
    background-color: rgb(67,87,97);
}