h1{
    color:rgb(0, 255,0); /*color  0 -255  Range hota hai */
    background-color: rgb(2, 4, 8);
}

body{
    background-color: rgb(99, 27, 67);
}

p{
    
   /* background-color: rgb(67,87,97); */

   /*Hex */

    background-color: #1a1a1a; /* 0- 9-a-f  Rgb ff0000  00ff00  0000ff*/
}