*{
    
    padding: 0;
    margin: 0;
    
}

.Parent{
    width: 100%;
    height: 400%;
    background-color: aqua;
    display: flex;
    justify-content:space-evenly;
    align-items:center;

}

.child1{
    width: 100px;
    height: 100px;
    background-color: blue;
     border: 2px solid #3a3a3a;
    
}

.child2{
    width: 100px;
    height: 100px;
    background-color: blue;
     border: 2px solid #3a3a3a;
    
}

.child3{
    width: 100px;
    height: 100px;
    background-color: blue;
     border: 2px solid #3a3a3a;
    
}